@page
@model AutoSenderEmail.Pages.Templates.EditTempModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TemplatesEmail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TemplatesEmail.ID" />
            <div class="form-group">
                <label asp-for="TemplatesEmail.Subject" class="control-label"></label>
                <input asp-for="TemplatesEmail.Subject" class="form-control" />
                <span asp-validation-for="TemplatesEmail.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemplatesEmail.Body" class="control-label"></label>
				<textarea asp-for="TemplatesEmail.Body" cols="30" rows="10" class="form-control"></textarea>
                <span asp-validation-for="TemplatesEmail.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
