@page
@model AutoSenderEmail.Pages.Email.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Send email</h1>
<hr />
<div class="row">
    <div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="EmailModel.Subject" class="control-label"></label>
				<input asp-for="EmailModel.Subject" class="form-control" />
				<span asp-validation-for="EmailModel.Subject" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EmailModel.From" class="control-label"></label>
				<input asp-for="EmailModel.From" class="form-control" />
				<span asp-validation-for="EmailModel.From" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EmailModel.To" class="control-label"></label>
				<input asp-for="EmailModel.To" class="form-control" />
				<span asp-validation-for="EmailModel.To" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EmailModel.Body" class="control-label"></label>
				<textarea asp-for="EmailModel.Body" cols="30" rows="10" class="form-control"></textarea>
				<span asp-validation-for="EmailModel.Body" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EmailModel.SendDate" class="control-label"></label>
				<input asp-for="EmailModel.SendDate" class="form-control"/>
				<span asp-validation-for="EmailModel.SendDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Send" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
